*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    width: 100%;
    height: 85px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.container{
    padding: 20px;
}
.book-container{
    padding: 20px;
    width: 30%;
    background-color: black;
    color: white;
    margin: 30px;
    border-radius: 10px;
    display: inline-block;
}
.book-container h2{
    color: rgb(220, 18, 18);
}
.book-container h3{
    color: rgb(18, 209, 220);
}
.book-container p{
    color: white;
}
.book-container button{
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(218, 52, 57);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
}
.add-book-btn{
    background-color: rgb(196, 34, 67);
    color: black;
    border: none;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.popup-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.912);
    opacity: 0.8;
    z-index: 1;
    display: none;
}
.popup-box{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(237, 128, 128);
    padding: 40px;
    border-radius: 10px;
    z-index: 2;
    display: none;
    flex-direction: column;
}

.popup-box input{
    background-color: transparent;
    padding: 5px;
    margin: 5px 0;
    border: none;
    width: 100%;
    font-size: 20px;
    border-bottom: solid black 2px;
}
.popup-box textarea{
    background-color: transparent;
    padding: 5px;
    border: none;
    margin: 5px 0;
    width: 100%;
    font-size: 20px;
    border-bottom: solid black 2px;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(14, 14, 14);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}
.popup-box input:focus, .popup-box textarea:focus{
    outline: none;
    border-bottom: solid white 2px;
}
